table th, table td {
  border: none;
}

input[type="text"], textarea, select{
  border-style: solid;
  border-color: #303030;
  border-width: 1px;
}

.clear{
  clear: both;
}

.clear-left{
  clear: left;
}

.clear-right{
  clear: right;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

#result{
  border: 1px solid #CCC;
  width: 300px;
  padding: 10px;
}

.nomatch{
  color: red;
}

.big-re{
    font-size: 1.3em;
    font-weight: bold;
    font-family: monospace;
    vertical-align: top;
}

.big-re input, .big-re select, .big-re textarea{
    font-size: 1em;
    font-family: monospace;
    border: 1px solid #EFEFEF;
}

.big-re input, .big-re .re-string, .big-re textarea{
    color: #40994E;
}

.big-re .r{
    color: #9E7235;
}