html, body{
  background: #ECE9D8;
  font-family: Tahoma, Arial, sans-serif;
}

#doc2{
  width: 920px;
}

table th, table td {
  border: none;
}

a{
  outline: none;
}

input[type="text"], textarea, select{
  border-style: solid;
  border-color: #303030;
  border-width: 1px;
}

.clear{
  clear: both;
}

.clear-left{
  clear: left;
}

.clear-right{
  clear: right;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.align-center{
  text-align: center;
}

img{
  vertical-align: middle;
}

#result{
  border: 1px solid #CCC;
  width: 300px;
  padding: 10px;
}

.nomatch{
  color: red;
}

.big-re{
    font-size: 1em;
    font-weight: bold;
    font-family: monospace;
    vertical-align: top;
}

.big-re input, .big-re select, .big-re textarea{
    font-size: 0.9em;
    font-family: monospace;
    border: 1px solid #CCC;
    background-color: #F0F0F0;
}

.big-re input, .big-re .re-string, .big-re textarea{
    color: #40994E;
}

.big-re .r{
    color: #9E7235;
}

.main-menu{
  background: url("../images/bg-menu.gif") no-repeat transparent;
  vertical-align: middle;
  display: table-cell;
  height: 38px;
  padding-left: 25px;
  padding-right: 5px;
  width: 890px;
}

.main-menu ul{
  margin: 0;
  padding: 0;
}

.main-menu ul li{
  display: inline;
  list-style: none;
  margin:0;
  padding: 0;
  margin-right: 10px;
}

.main-menu ul li a{
  color: white;
  text-decoration: none;
}

.form, #result{
  background-color: white;
  border: solid 1px #CCC;
  padding: 10px;
}