[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
python-termstyle = "*"
rednose = "*"
honcho = "*"
autopep8 = "*"
isort = "*"
pylint = "*"

[packages]
flask = "*"
uwsgi = "*"
distribute = "*"
webob = "*"
rollbar = "*"
flask-cors = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "nosetests -c nose.cfg"
start = "honcho start web"
