$footer-height: 120px;

html, body {
    height: 100%;
}

div.regex-parser-container {
    input[type='text'], label, span.quotes {
        font-family: monospace;
    } 

    span.quotes {
        color: rgb(25, 197, 25);
    }

    span.reserved {
        color: #bc8600;
    }

    textarea {
        width: 560px;
        max-width: 480px;
        min-width: 480px;

        height: 120px;
        min-height: 120px;
    }
}

div.cheat-sheet {
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
    padding-top: 20px;
}

footer.main {
    text-align: center;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    height: $footer-height - 1px;
}

body > .wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto (-$footer-height); /* the bottom margin is the negative value of the footer's height */

    .push {
        height: $footer-height;
    }

    & > .container {
      padding-top: 30px;
    }
}