&nbsp;
<h1>Your Python Regular Expression's Best Buddy</h1>
<div class="row">
    <div class="regex-parser-container span7">
        <div class="form-inline">
            <label for="regex">&gt;&gt;&gt; regex = 
                <span class="reserved">r</span><span class="quotes">"</span>
            </label>
            <input id="regex" ng-model="re.source" type="text" class="input-large span5" placeholder="^type[ ]here$" autofocus>
            <span class="quotes">"</span>
        </div>
        <div class="form">
            <label for="test-string">&gt;&gt;&gt; test_string = <span class="quotes">"""</span></label>
            <textarea id="test-string" ng-model="re.testString"></textarea>
            <label><span class="quotes">"""</span></label>
        </div>
        <div class="form-inline">
            <label>&gt;&gt;&gt; flags = 0 | </label>
            <label class="checkbox" title="{{description}}" 
                   ng-repeat="(flagLabel, description) in allFlags">
                <input type="checkbox" title="{{description}}"
                       ng-model="re.flags[flagLabel]"
                       ng-click="getResults()"> re.{{flagLabel}} <span ng-hide="$last">|</span>
            </label>
        </div>
        <div class="form-inline">
            <label>&gt;&gt;&gt; re.compile(regex, flags).
                <select ng-model="re.matchType" ui-select2>
                    <option>match</option>
                    <option>findall</option>
                    <option>search</option>
                </select>
                (test_string)
            </label>
            <a href="javascript:void(0)" class="btn btn-primary btn-small" ng-hide="processing" ng-click="getResults()">Run!</a>
            <a href="javascript:void(0)" class="btn btn-primary btn-small disabled" ng-show="processing">Running...</a>
        </div>
    </div>
    <div class="span5">
        <div class="well" ng-include src="resultTemplateUrl"></div>
    </div>
</div>