{% extends "base.html" %}

{% block title %}PyRegex{% endblock %}
{% block extrahead %}
  <script type="text/javascript" src="/media/js/base.js"></script>
{% endblock %}

{% block content %}
  <h1>Python Regular Expressions Online Tester</h1>
  <div id="result" class="float-right"></div>
  <div class="form" class="float-left">
    <form action="" method="post" onsubmit="submitForm(this); return false">
      <div class="big-re">>>> regex = <span class="r">r</span><span class="re-string">"{{ form.regex }}"</span></div>
      <div class="big-re">>>> test_string = <span class="re-string">"""<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.test_text }}<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"""</span></div>
      <div class="big-re">>>> re.compile(regex).{{ form.regex_method }}(test_string)</div>
      <input type="submit" value="Test it!">
    </form>
  </div>
{% endblock %}

{% block prefooter %}
<div class="help">
  To find more information about Python Regular expression's approach, please
  see <a href="http://docs.python.org/library/re.html" target="_blank" 
         title="Python re module docs">
    the documentation.
  </a>
</div>
{% endblock %}
